
h4{
  font-weight: bold;
  font-size: 65px;
}


.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:  50px 150px;
}
.nav-title{
  font-size: 34px;
   color: #4E47FF;
}
.text-primary{
 
}
nav ul li{
  list-style: none;
  
}

nav li a{
  text-decoration: none;
}
nav ul{
  display: flex;
}
.btn-primary{
  background-color: rgba(78, 71, 255, 1);
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  padding: 12px 36px;
  border-radius: 10px;
  border: none;
}
/* .banner-profile-pic{
  width: 580px;
} */
 .banner-content{
  max-width: 905px;
  text-align: center;
  }
  
 .header{
  background-image: url(/Assets/Hero-bg.png);
  margin-top: -50px;
 }
 .banner{
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
 }
 .banner-primary{
  font-size: 42px;
  color: rgba(37, 36, 50, 1);
 }
 .banner-description{
  color: rgba(37, 36, 50, 0.5);
  
 }
 .banner-profile-pic{
  width: 403px;
  border-radius: 48px;
 }
 .banner-title{
  display: flex;
  justify-content: space-around;
  margin: 116px 141px 116px 159px;
 }
 .banner-contents{
  width: 350px;

 }